[Unit]
Description=Daemon for lurk, a WebSocket client for Discord's "Stream Deck" API written in Zig

[Service]
Type=simple
Restart=always
RestartSec=3
ExecStartPre=/bin/bash -c 'until pids=$(pidof Discord); do sleep 1; done'
ExecStart=/usr/bin/lurk
